<a href="https://colab.research.google.com/github/PacJ/Python/blob/master/p404_pandas_pivot%EC%99%80_pivot_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 구글 코랩에서 한글 문제 해결  
- 아래 코드 설치를 한다.  
- 코랩 런타임 -> 런타임 다시 시작 한다.

In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

### 구글 드라이브 연동

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

%cd /content/drive/MyDrive/DataAnalysis

### import

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#colab
plt.rc('font', family='NanumBarunGothic')

In [3]:
kmovies = pd.DataFrame({'MovieID':['1193','1194','1195'],
                        'Title':['디바','무림의 고수','정직한 후보'],
                        'Genres':['드라마','액션','코미디']})


kusers= pd.DataFrame({'UserID':[1,2,3,4,5],
                      'Gender':['F','M','M','F','M'],
                      'Age':[13,56,25,33,43]})


kratings= pd.DataFrame({'UserID':[1,1,1,2,2,2,3,3,3,4,4,4],
                        'MovieID':['1193','1194','1195','1193','1194','1195','1193','1194','1195','1193','1194','1195'],
                        'Rating':[2,5,None,3,1,5,None,2,5,5,None,3]})

In [4]:
print(type(kmovies))

<class 'pandas.core.frame.DataFrame'>

In [5]:
kmovies

  MovieID   Title Genres
0    1193      디바    드라마
1    1194  무림의 고수     액션
2    1195  정직한 후보    코미디

In [6]:
kusers

   UserID Gender  Age
0       1      F   13
1       2      M   56
2       3      M   25
3       4      F   33
4       5      M   43

In [7]:
kratings

    UserID MovieID  Rating
0        1    1193     2.0
1        1    1194     5.0
2        1    1195     NaN
3        2    1193     3.0
4        2    1194     1.0
5        2    1195     5.0
6        3    1193     NaN
7        3    1194     2.0
8        3    1195     5.0
9        4    1193     5.0
10       4    1194     NaN
11       4    1195     3.0

In [8]:
kdata = kratings.merge(kusers).merge(kmovies)
kdata

    UserID MovieID  Rating Gender  Age   Title Genres
0        1    1193     2.0      F   13      디바    드라마
1        2    1193     3.0      M   56      디바    드라마
2        3    1193     NaN      M   25      디바    드라마
3        4    1193     5.0      F   33      디바    드라마
4        1    1194     5.0      F   13  무림의 고수     액션
5        2    1194     1.0      M   56  무림의 고수     액션
6        3    1194     2.0      M   25  무림의 고수     액션
7        4    1194     NaN      F   33  무림의 고수     액션
8        1    1195     NaN      F   13  정직한 후보    코미디
9        2    1195     5.0      M   56  정직한 후보    코미디
10       3    1195     5.0      M   25  정직한 후보    코미디
11       4    1195     3.0      F   33  정직한 후보    코미디

In [9]:
krecom_data = kdata[['UserID', 'MovieID', 'Rating']].copy()
krecom_data

    UserID MovieID  Rating
0        1    1193     2.0
1        2    1193     3.0
2        3    1193     NaN
3        4    1193     5.0
4        1    1194     5.0
5        2    1194     1.0
6        3    1194     2.0
7        4    1194     NaN
8        1    1195     NaN
9        2    1195     5.0
10       3    1195     5.0
11       4    1195     3.0

#### pivot
- 각 컬럼의 값을 교차테이블 구성요소로 전달, 교차테이블 완성
- index, columns, values 컬럼을 각각 전달
- 요약기능 없음
- dataframe.pivot(index, columns,values)

In [12]:
krecom_pivot = krecom_data.pivot(index='UserID', columns='MovieID', values='Rating')
krecom_pivot

MovieID  1193  1194  1195
UserID
1         2.0   5.0   NaN
2         3.0   1.0   5.0
3         NaN   2.0   5.0
4         5.0   NaN   3.0

In [15]:
# inplace = True는 실제 데이터에 변경사항이 적용된다.
#krecom_pivot.fillna(method='ffil') # method='ffil' or method='pad' # 결측값을 앞방향으로 채운다.
#krecom_pivot.fillna(method='bfill') # method='bfill' or method='backfill' # 결측값을 뒷방향으로 채운다.
#krecom_pivot.fillna(krecom_pivot.mean() , axis=1)
krecom_pivot.fillna(0, inplace=True) #결측값을 0으로 채운다.

In [16]:
krecom_pivot

MovieID  1193  1194  1195
UserID
1         2.0   5.0   0.0
2         3.0   1.0   5.0
3         0.0   2.0   5.0
4         5.0   0.0   3.0

#### pivot_table
- pivot기능과 유사, 더 많은 옵션 사용 가능
- index, columns, values컬럼을 각각 전달
- aggfunc옵션을 사용하여 요약 기능 전달 가능(기본은 평균)
- fill_value 옵션을 사용하여 NA값 대체 가능
- dataframe.pivot_table(index, columns, values, aggfunc='mean', fill_value)

In [17]:
krecom_pivot_table = krecom_data.pivot_table(index='UserID', columns='MovieID', values='Rating', aggfunc='min', fill_value=0)
krecom_pivot_table

MovieID  1193  1194  1195
UserID
1           2     5     0
2           3     1     5
3           0     2     5
4           5     0     3

In [18]:
df = pd.DataFrame(data= {'A':['foo', 'foo', 'foo', 'foo', 'foo', 'bar', 'bar', 'bar', 'bar'],
                         'B':['one', 'one', 'one', 'two', 'two', 'one', 'one', 'two', 'tow'],
                         'C':['small', 'large', 'large', 'small', 'small', 'large', 'small', 'small', 'large'],
                         'D':[1, 2, 2, 3, 3, 4, 5, 6, 7],
                         'E':[2, 4, 5, 5, 6, 6, 8, 9, 9]})
print(df)

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  tow  large  7  9

In [19]:
table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'])
table

                  D         E
A   C
bar large  5.500000  7.500000
    small  5.500000  8.500000
foo large  2.000000  4.500000
    small  2.333333  4.333333

In [21]:
table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'], aggfunc={'D':np.mean,
                                                                         'E':[min, max, np.mean]})
table

                  D    E
               mean  max      mean  min
A   C
bar large  5.500000  9.0  7.500000  6.0
    small  5.500000  9.0  8.500000  8.0
foo large  2.000000  5.0  4.500000  4.0
    small  2.333333  6.0  4.333333  2.0

In [22]:
a = np.array([5,8,9,2])

In [23]:
np.min(a) #최소값 리턴

2

In [24]:
np.max(a) #최대값 리턴

9

In [25]:
np.argmin(a) #최소값이 있는 인덱스 리턴

3

#### stack
- unstack은 index를 column으로 만들어 준다.
- stack은 column을 index로 만들어 준다.
https://www.w3resource.com/pandas/dataframe/dataframe-stack.php

In [26]:
df_single_level_no_index = pd.DataFrame([[0,2],[3,4]],
                                        columns = ['weight', 'height'])
df_single_level_no_index

   weight  height
0       0       2
1       3       4

In [33]:
df_single_level_no_index.stack()

0  weight    0
   height    2
1  weight    3
   height    4
dtype: int64

In [31]:
df_single_level_no_index.stack().unstack()

   weight  height
0       0       2
1       3       4

In [28]:
multicol1 = pd.MultiIndex.from_tuples([('weight', 'kg'),
                                       ('weight', 'pounds')])
df_multi_level_cols1 = pd.DataFrame([[3,4], [4,5]],
                                    index=['deer', 'monkey'],
                                    columns=multicol1)

df_multi_level_cols1

       weight
           kg pounds
deer        3      4
monkey      4      5

In [29]:
df_multi_level_cols1.stack()

               weight
deer   kg           3
       pounds       4
monkey kg           4
       pounds       5

In [34]:
df_multi_level_cols1.stack(0).unstack()

           kg pounds
       weight weight
deer        3      4
monkey      4      5

In [35]:
swap = df_multi_level_cols1.stack(0).unstack()
swap.swaplevel(0,1, axis=1) # column의 계층(level) 순서변경

       weight
           kg pounds
deer        3      4
monkey      4      5